<template>
  <div id="app">
    <div class="navbar">
      <div>
        <img src="./assets/image 1.png">
      </div>
      <div class="navtext">
        <p>HOME</p>
        <p>WHAT WE WOULD DO</p>
        <p>CORPORATE GOVERNANCE</p>
        <p>FIRST PROJECT</p>
        <p>ABOUT US</p>
        <p>OUR TEAM</p>
      </div>
    </div>
    <div class="kartina">
      <div class="textkartina">
        <h1>A SPECIAL PURPOSE <br> INVESTMENT COMPANY
        </h1>
        <p>You invest in our deep domain expertise
        </p>
      </div>
    </div>
    <div class="chuvachkiimg">
      <div class="chyvaak">
        <div class="chyvaaak">
          <div class="chuvachki">
            <h3>WELCOME THERE!
            </h3>
            <h1>Welcome to the <br> Best Business <br> Support Company
            </h1>
            <p>Venturastic Fund’s is a Special Purpose Investment<br> Holding Company (SPIC) formed with an impetus for
              <br>
              creating,
              building business, & Merger and Acquisition, <br> it will aim at developing itself as a strong global
              player,
              <br> by
              building a proven track record and achieving <br> significant milestones in the next 5 years.
            </p>
            <button>
              <h4>
                MORE ABOUT US
              </h4>
            </button>
          </div>
          <div>
            <img src="./assets/chuvachki.png">
          </div>
        </div>
      </div>
    </div>
    <div class="trishtuki">
      <div class="vseshtuki">
        <div class="textcif">
          <div class="razmercif">
            <h1>
              01
            </h1>
            <h3>
              Fashion and <br/>Luxury
            </h3>
          </div>
          <p>
            At the core of every project that will be released by <br/> Venturastic in fashion and luxury, there will be
            <br/>
            quintessentially a strong commitment to unmatched <br/>creativity and quality, aligned with the changing
            needs <br/>of
            the international market.</p>
        </div>
        <div class="textcif">
          <div class="razmercif">
            <h1>
              02
            </h1>
            <h3>
              Media and <br/> Entertainment
            </h3>
          </div>
          <p>
            Forward-looking Media and entertainment business, <br/> whose mission is to enable unique investment<br/>
            opportunities, by allowing investors to express their <br/> aspirations and aesthetics with the highest
            level
            of<br/>
            quality and refinement.</p>
        </div>
        <div>
          <div class="textcif">
            <div class="razmercif">
              <h1>
                03</h1>
              <h3>
                Technology
              </h3>
            </div>
            <p>
              Technology growth has been led by the rapid <br/> advancement and proliferation of Artificial
              intelligence,<br/> cloud,
              and machine learning, virtually impacting every<br/> business and consumer in its path.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="leaders">
      <div class="leaderscont">
        <div class="leaderscontsec">
          <div class="weare">
            <h3>WHO WE ARE</h3>
            <H1>We are Leaders <br> on the Market</H1>
            <p>We will identify, conceive and build business that will <br> create substantial long-term value for our
              investing <br> community</p>
            <button>
              <h4>
                READ MORE
              </h4>
            </button>
          </div>
          <div class="kartula">
            <div class="kartpravo">
              <div class="otstupkart"><img src="./assets/Group 16.png"></div>
              <h2>WHAT WOULD WE DO</h2>
            </div>
            <div class="kartpravo">
              <div class="otstupkart">
                <img src="./assets/Group 17.png">
              </div>
              <h2>Special Purpose <br> Investments the Venturastic <br> way</h2>
            </div>
            <div class="kartpravo">
              <div class="otstupkart">
                <img src="./assets/Group 18.png">
              </div>
              <h2>Borderless Investing <br> Community with focused <br> vertical</h2>
            </div>
            <div class="kartpravo">
              <div class="otstupkart">
                <img src="./assets/Group 19.png">
              </div>
              <h2>Holistic view to invest in the <br> best opportunities</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="halyava">
      <h5>OUR STAFF</h5>
      <h1>Diversity breeds creativity, leading to better <br> decisions and outcomes at Venturastic</h1>
      <h2>We have a formidable, coherent, accomplished team, bringing in differentiated domain <br>
        expertise, access, thoughtful deliberation and organization building to the business we<br>
        create and build.
      </h2>
      <button>
        <h4>
          READ MORE
        </h4>
      </button>
    </div>
    <div class="nizhnyashapka">
      <div class="raspshapniz">
        <div class="nizfirst">
          <img src="./assets/logoniz.png">
          <H3>HOME</H3>
          <H3>WHAT WOULD WE DO</H3>
          <H3>OUR INVESTMENTS</H3>
          <H3>FIRST PROJECT</H3>
          <H3>ABOUT US</H3>
          <H3>OUR TEAM</H3>
        </div>
        <div class="nizsec">
          <h4>Our Offices </h4>
          <h4>Singapore | Australia | Mumbai </h4>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="raspcopyright">
        <h4>Copyright © 2021 Venturastic Fund's Pte Ltd</h4>
        <h4>Powered by Venturastic Fund's Pvt Ltd</h4>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {}
}
</script>

<style lang="scss">
#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
.copyright {
  width: 100%;
  background: #181818;
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 12px;
}
.raspcopyright {
  width: 1140px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
  h4 {
    font-size: 16px;
    color: white;
  }
}
.nizhnyashapka {
  width: 100%;
  background: #39363D;
  padding-top: 80px;
  padding-bottom: 80px;

}

.raspshapniz {
  width: 1140px;
  margin: 0 auto;
}

.nizfirst {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  h3 {
    font-size: 18px;
    color: #ffffff;
  }
}

.nizsec {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  h4 {
    font-size: 18px;
    color: #F2F2F2;
  }
}

.halyava {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #F3F0E9;
  padding-top: 63px;
  padding-bottom: 62px;

  h5 {
    font-size: 11px;
    color: #009CC4;
  }

  h1 {
    font-size: 53px;
    color: #313335;
  }

  h2 {
    font-size: 26px;
    color: #696767;
  }

  button {
    border: 1px solid #4D4D4D;

    h4 {
      color: #4D4D4D;
      font-size: 12px;
    }
  }
}

.leaderscontsec {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.kartula {
  width: 50%;
}

.weare {
  h3 {
    color: #009CC4;
    font-size: 11px;
  }

  h1 {
    color: #313335;
    font-size: 53px;
  }

  p {
    color: #808080;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.kartpravo {
  display: inline-flex;
  align-items: center;

  h2 {
    font-size: 26px;
    color: #313335;
  }
}

.leaders {
  width: 100%;
}

.otstupkart {
  margin: 21px;
}

.leaderscont {
  width: 1140px;
  margin: 0 auto;
  padding-top: 128px;
  padding-bottom: 63px;
}

body {
  margin: 0
}

.navbar {
  width: calc(100% - 103px);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 47px;
  padding-right: 56px;
  padding-bottom: 22px;
  padding-top: 22px;
  box-sizing: content-box;
}

.navtext {
  justify-content: space-between;
  display: inline-flex;

  p {
    margin-left: 18px;
    margin-right: 18px;
    color: #4D4D4D;
  }
}

.kartina {
  width: 100%;
  height: 661px;
  background: url("./assets/Banner_container.png") no-repeat;
  background-size: cover;
  align-items: center;
}

.textkartina {
  float: right;
  padding-top: 171px;
  padding-right: 56px;

  h1 {
    font-size: 62px;
    line-height: 74px;
    font-style: normal;
    font-weight: normal;
  }

  p {
    font-size: 36px;
    line-height: 59px;
  }
}

.chuvachkiimg {
  width: 100%;
  padding-top: 128px;
  margin: 0 auto;
  padding-bottom: 128px;
}

.chyvaak {
  width: 1140px;
  margin: 0 auto;
}

.chyvaaak {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.chuvachki {
  h3 {
    font-size: 11px;
    color: #009CC4;
    margin-bottom: 14px;
  }

  p {
    font-size: 14px;
    color: #808080;
    margin-top: 0;
    margin-bottom: 50px;
  }

  h1 {
    margin-top: 0;
    color: #313335;
    font-size: 52px;
    margin-bottom: 38px;
  }
}

button {
  border: 1px solid #009CC4;
  background-color: white;
  width: 197px;

  h4 {
    color: #009CC4;
    font-weight: 600;
    font-size: 12px;
  }
}

.vseshtuki {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.trishtuki {
  width: 100%;
  color: #313335;
  display: inline-flex;

  p {
    font-size: 14px;
    color: #808080;
  }

  h3 {
    font-weight: normal;
    font-size: 28px;
    color: #313335;
    margin: 0;
  }

  h1 {
    font-weight: normal;
    font-size: 62px;
    color: #009CC4;
    margin: 0;
    padding-right: 79px;

  }

}

.textcif {
  padding: 76px 63px;

  &:first-child {
    background: #F3F0E9;
  }

  &:last-child {
    background: #F3F0E9;
  }

}

.razmercif {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

</style>
